@import 'fonts';

body {
	margin: 0;
}

h1 {
	font-size: 80px;
	margin: 20px 0 20px 0;
	font-family: "Roboto-Thin";
}

h3 {
	font-size: 40px;
	margin: 20px 0 20px 0;
	font-family: "Roboto-Thin";
}

p {
	font-family: "Roboto-Thin";
}